In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
df = sqlContext.sql('select * from people_json')

In [4]:
df.show()

In [5]:
df.printSchema()

In [6]:
df.columns

In [7]:
df.describe()

In [8]:
df.describe().show()

In [9]:
from pyspark.sql.types import (StructField, StringType,
                               IntegerType, StructType)

In [10]:
# Use the following when working on Jupyter Notebook
# Changing the schema of a table
# In StructFiled:
# 'age' is the column we are dealing with
# IntegerType is the new type of the 'age' column
# True implies that the column has null values
# data_schema = [StructField('age', IntegerType(), True),
#                StructField('name', StringType(), True)]
# final_struc = StructType(fields=data_schema)
# Then use the following to read your json again and concurrently apply the new data_schema
# df = spark.read.json('people.json', schema=final_struct)

In [11]:
# Use this when working on Databricks
df = df.withColumn('age', df['age'].cast(IntegerType()))
df = df.withColumn('name', df['name'].cast(StringType()))

In [12]:
df.printSchema()

In [13]:
df.show()

In [14]:
type(df['age'])

In [15]:
df.select('age')

In [16]:
type(df.select('age'))

In [17]:
df.select('age').show()

In [18]:
type(df.head(2)[0])

In [19]:
df.select(['age', 'name']).show()

In [20]:
# Creates a column
# newage is the name of the new column
# df['age'] * 2 is a column which are going to be the new values of newage column
df.withColumn('newage', df['age']).show()

In [21]:
df.withColumn('double_age', df['age'] * 2).show()

In [22]:
# Renaming a column
df.withColumnRenamed('age', 'my_new_age').show()

In [23]:
# To enable SQL commands in the table
df.createOrReplaceTempView('people')

In [24]:
results = spark.sql("SELECT * FROM people")

In [25]:
results.show()

In [26]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [27]:
new_results.show()